[user]
    name = Mark Hudson
    email = mark.github@mhudson.net
[push]
	default = current
[alias]
    pul = pull  # common typo
    pus = push  # common typo
    puh = push  # common typo
    log1 = log -n11 --pretty=format:'%C(auto,yellow)%h %C(auto,blue)%>(18,trunc)%ad %C(auto,green)%<(12,trunc)%aN %C(auto,reset)%s%C(auto,red)% gD% D'
    lo1 = log -n11 --oneline
    log2 = log -n2 --stat --abbrev-commit
    log4 = log -n4 --stat --abbrev-commit
    graph = log --graph --oneline --all --decorate
    tags = tag -l -n2
    desca = describe --always --long --dirty --tags

[commit]
#   gpgsign = true

# note also other strange and wonderful "alias-ish" commands available via `brew install git-extras`
